.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  z-index: 5;
}

.videoResponsive iframe {
  left: auto;
  top: auto;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  width: 100%;
  position: absolute;
  z-index: 5;
}
